<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-2 py-0">
    <a asp-controller="Admin" asp-action="Index" class="navbar-brand d-flex d-lg-none d-xl-none d-xxl-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0 d-lg-none">
        <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-envelope me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Mesajlar</span>
            </a>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Bildirimler</span>
            </a>
        </div>
        <form class="nav-item ms-3" asp-controller="Login" asp-action="Logout">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Çıkış yapmak istediğinize emin misiniz?')">Çıkış Yap</button>
        </form>
    </div>
</nav>