<header id="header">
        <nav class="px-4">
            <img src="~/myBlogIndex/images/logo2.png" class="logo" />
            <ul id="sideMenu">
                <li><a href="#header">Anasayfa</a></li>
                <li><a href="#about">Hakkımda</a></li>
                <li><a href="#services">Hizmetler</a></li>
                <li><a href="#portfolio">Çalışmalarım</a></li>
                <li><a href="#contact">İletişim</a></li>
                <i class="fa-solid fa-xmark fas" onclick="CloseMenu()"></i>
            </ul>
            <i class="fa-solid fa-bars fas" onclick="OpenMenu()"></i>
        </nav>
</header>