<div class="container-fluid copyright">
    <div class="row px-5">
        <div class="col-12 col-sm-6 text-center text-sm-start">
            &copy; <a href="https://ibrahmcingi.com.tr" target="_blank">https://ibrahmcingi.com.tr</a>, All Right Reserved.
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-end">
            Designed By <a href="https://github.com/Roestee" target="_blank">Roeste</a>
        </div>
    </div>
</div>