<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a asp-controller="Admin" asp-action="Index" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary text-wrap">Roeste Blog</h5>
        </a>
        <div class="navbar-nav w-100">
            <a asp-controller="Admin" asp-action="Index" class="nav-item nav-link"><i class="fa-solid fa-house me-2"></i>Anasayfa</a>
            <a asp-controller="Admin" asp-action="HomeUpdate" class="nav-item nav-link"><i class="fa-solid fa-users me-2"></i>Home Yönetimi</a>
            <a asp-controller="Admin" asp-action="AboutMeList" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Hakkımda Yönetimi</a>
            <a asp-controller="Case" asp-action="Index" class="nav-item nav-link"><i class="fa-solid fa-clipboard me-2"></i>Dosya Yönetimi</a>
        </div>
    </nav>
</div>