@model Summary

<div class="container">
    <div class="headerText">
        <p>@Model.JobPosition</p>
        <h1>Hi, I'm <span>@Model.FullName.Split(" ")[0]</span> <br />@Model.FullName.Split(" ")[1] From Turkey</h1>
    </div>
</div>