@model SocialMedia

<button type="button" class="btn btn-primary text-light px-4 py-2" data-bs-toggle="modal" data-bs-target="#addSocialMediaModal">Sosyal Medya Ekle</button>

<div class="modal fade" id="addSocialMediaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sosyal Medya Ekleme</h1>
                <button type="button" class="btn-close" id="btnCloseSocialMediaModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="socialMediaModalForm" class="d-flex flex-column gap-2">
                    <input type="hidden" asp-for="ContactMeId" value="@Model.ContactMeId"></input>
                    <div class="form-group">
                        <label asp-for="Url" class="text-dark fw-bold">Link</label>
                        <input type="text" class="form-control" asp-for="Url">
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Icon" class="text-dark fw-bold">İkon</label>
                        <input type="text" class="form-control" asp-for="Icon">
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" onclick="handleAddSocialMedia()" class="btn btn-primary text-light">Ekle</button>
            </div>
        </div>
    </div>
</div>