@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
@await Component.InvokeAsync("_AdminLayoutHead")
<body>
    <div class="container-fluid position-relative bg-white d-flex">
        @await Component.InvokeAsync("_AdminLayoutSpinner")

        @await Component.InvokeAsync("_AdminLayoutSidebar")

        <div class="content">
            @await Component.InvokeAsync("_AdminLayoutNavbar")

            @await Component.InvokeAsync("_AdminLayoutAlert")

            <main class="container-fluid pt-4 px-4">
                @RenderBody()
            </main>

            @await Component.InvokeAsync("_AdminLayoutFooter")
        </div>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up text-light"></i></a>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScripts")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
