<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HomeLayoutHead")
<body>
    @await Component.InvokeAsync("_HomeLayoutNavbar")

    <main>@RenderBody()</main>

    @await Component.InvokeAsync("_HomeLayoutFooter")

    @await Component.InvokeAsync("_HomeLayoutScript")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
